examples/InOut.json
[{"id":"a190fc96.480e4","type":"inject","z":"cc742b03.5c3978","name":"","topic":"mytopic","payload":"{\"hello\":\"world\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":200,"wires":[["1454b3ee.f9764c"]]},{"id":"d1c18b48.1dffe8","type":"debug","z":"cc742b03.5c3978","name":"","active":true,"console":"false","complete":"true","x":490,"y":340,"wires":[]},{"id":"6834a79a.f1ced8","type":"zeromq in","z":"cc742b03.5c3978","name":"All topics","topic":"","fields":"topic,payload","server":"tcp://127.0.0.1:5555","output":"json","x":140,"y":340,"wires":[["d1c18b48.1dffe8"]]},{"id":"1454b3ee.f9764c","type":"zeromq out","z":"cc742b03.5c3978","name":"","topic":"","fields":"topic,payload","server":"tcp://*:5555","x":480,"y":240,"wires":[]},{"id":"e9708499.8356a8","type":"inject","z":"cc742b03.5c3978","name":"","topic":"bool","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":140,"y":160,"wires":[["1454b3ee.f9764c"]]},{"id":"9b928bd6.16cbc8","type":"inject","z":"cc742b03.5c3978","name":"","topic":"str","payload":"world","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":80,"wires":[["1454b3ee.f9764c"]]},{"id":"4330a688.8a8fc8","type":"inject","z":"cc742b03.5c3978","name":"","topic":"num","payload":"999","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":120,"wires":[["1454b3ee.f9764c"]]},{"id":"92348776.ea9088","type":"debug","z":"cc742b03.5c3978","name":"","active":true,"console":"false","complete":"true","x":490,"y":380,"wires":[]},{"id":"7f43485f.391718","type":"zeromq in","z":"cc742b03.5c3978","name":"Topics starting with \"my\"...","topic":"my","fields":"topic,payload","server":"tcp://127.0.0.1:5555","output":"json","x":190,"y":380,"wires":[["92348776.ea9088"]]},{"id":"69f81284.62e21c","type":"inject","z":"cc742b03.5c3978","name":"","topic":"myother","payload":"{\"goodbye\":\"everyone\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":210,"y":240,"wires":[["1454b3ee.f9764c"]]},{"id":"4cfe5799.ade5d8","type":"inject","z":"cc742b03.5c3978","name":"","topic":"mybuffer","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":280,"wires":[["861ad8c.73f8c28"]]},{"id":"861ad8c.73f8c28","type":"function","z":"cc742b03.5c3978","name":"make buffer","func":"msg.payload = new Buffer.from([\"0x48\",\"0x45\",\"0x4C\",\"0x4C\",\"0x4F\"]);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["1454b3ee.f9764c"]]}]
