examples/PubSub.json
[{"id":"36fb4c54.384434","type":"inject","z":"cc742b03.5c3978","name":"","topic":"mytopic","payload":"{\"hello\":\"world\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":230,"y":1600,"wires":[["96201f4b.f0f91"]]},{"id":"b1987961.c4d8e8","type":"debug","z":"cc742b03.5c3978","name":"","active":true,"console":"false","complete":"true","x":530,"y":1740,"wires":[]},{"id":"ea29a521.2cb4c8","type":"zeromq in","z":"cc742b03.5c3978","name":"All topics","topic":"","fields":"topic,payload","server":"tcp://127.0.0.1:5555","output":"json","isserver":false,"intype":"sub","x":180,"y":1740,"wires":[["b1987961.c4d8e8"]]},{"id":"96201f4b.f0f91","type":"zeromq out","z":"cc742b03.5c3978","name":"","topic":"","fields":"topic,payload","server":"tcp://*:5555","isserver":true,"intype":"pub","x":520,"y":1640,"wires":[]},{"id":"4bc91640.65c4f8","type":"inject","z":"cc742b03.5c3978","name":"","topic":"bool","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":180,"y":1560,"wires":[["96201f4b.f0f91"]]},{"id":"68ea1fa4.74878","type":"inject","z":"cc742b03.5c3978","name":"","topic":"str","payload":"world","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":1480,"wires":[["96201f4b.f0f91"]]},{"id":"622fcd8a.1bfc04","type":"inject","z":"cc742b03.5c3978","name":"","topic":"num","payload":"999","payloadType":"num","repeat":"","crontab":"","once":false,"x":180,"y":1520,"wires":[["96201f4b.f0f91"]]},{"id":"b1c97e2b.cf845","type":"debug","z":"cc742b03.5c3978","name":"","active":true,"console":"false","complete":"true","x":530,"y":1780,"wires":[]},{"id":"2cefd6b.8b87f2a","type":"zeromq in","z":"cc742b03.5c3978","name":"Topics starting with \"my\"...","topic":"my","fields":"topic,payload","server":"tcp://127.0.0.1:5555","output":"json","isserver":false,"intype":"sub","x":230,"y":1780,"wires":[["b1c97e2b.cf845"]]},{"id":"b93edb1d.cdd288","type":"inject","z":"cc742b03.5c3978","name":"","topic":"myother","payload":"{\"goodbye\":\"everyone\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":250,"y":1640,"wires":[["96201f4b.f0f91"]]},{"id":"646a8f9d.beebe","type":"inject","z":"cc742b03.5c3978","name":"","topic":"mybuffer","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":1680,"wires":[["66c3fe79.7a99f"]]},{"id":"66c3fe79.7a99f","type":"function","z":"cc742b03.5c3978","name":"make buffer","func":"msg.payload = new Buffer.from([\"0x48\",\"0x45\",\"0x4C\",\"0x4C\",\"0x4F\"]);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1680,"wires":[["96201f4b.f0f91"]]}]
