examples/PushPull.json
[{"id":"6b7901bc.8a1c3","type":"inject","z":"cc742b03.5c3978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":1920,"wires":[["23cf851d.0d7c2a"]]},{"id":"23cf851d.0d7c2a","type":"zeromq out","z":"cc742b03.5c3978","name":"","topic":"","fields":"payload","server":"tcp://*:4444","isserver":true,"intype":"push","x":480,"y":1920,"wires":[]},{"id":"4ba6aced.b853a4","type":"zeromq in","z":"cc742b03.5c3978","name":"","topic":"","fields":"payload","server":"tcp://127.0.0.1:4444","output":"json","isserver":false,"intype":"pull","x":210,"y":1980,"wires":[["c138fcb6.4e343"]]},{"id":"c138fcb6.4e343","type":"debug","z":"cc742b03.5c3978","name":"","active":true,"console":"false","complete":"false","x":490,"y":1980,"wires":[]}]
